name = "alicesaidhi/skilift"
version = "0.3.0-rc.1"
private = true
authors = ["alicesaidhi"]
repository = "https://github.com/alicesaidhi/skilift"
license = "MIT"

[target]
environment = "roblox"

[indices]
default = "https://github.com/pesde-pkg/index"

[wally_indices]
default = "https://github.com/UpliftGames/wally-index"

[scripts]
roblox_sync_config_generator = ".pesde/scripts/roblox_sync_config_generator.luau"
sourcemap_generator = ".pesde/scripts/sourcemap_generator.luau"

[dev_dependencies]
scripts = { name = "pesde/scripts_rojo", version = "^0.1.0", target = "lune" }
rojo = { name = "pesde/rojo", version = "^7.4.4", target = "lune" }

[dependencies]
vide = { wally = "wally#centau/vide", version = "^0.3.1" }
skilift = { path = "F:/projects/skilift" }
