/out
/docs/node_modules/
/docs/.vitepress/cache
/docs/.vitepress/dist

/luau_packages
/lune_packages
/pesde.lock
/build.rbxm

/example/roblox_packages/
/example/roblox_server_packages/
/example/sourcemap.json

**/sourcemap.json